.topper {
  width: 100%;
  height: 5px;
  background-color: #d22027;
}

.nav {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 4px;
  color: #9E9E9E;
  text-align: right;
  padding-top: 10px;
}

@media only screen and (max-width: 767px) {
  #nav {
    text-align: center;
  }
}

.nav ul {
  margin: 20px;
  padding-bottom: 50px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #9E9E9E;
  background-color: #d22027;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
}

.project-tiles {
  text-align: center;
}

#index-logo {
  max-width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 767px) {
  #logo {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#resume {
text-align: center;
}

#resume-logo {
  float: left;
  max-width: 50%;
}

@media only screen and (max-width: 767px) {
  #resume-logo {
    padding-bottom: 20px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

#linkedin {
  padding-bottom: 20px;
}

.btn {
  width: 200px;
}
