<div class="container" id="resume">
  <img class="img-responsive" id="resume-logo" src="img/oh-headshot.png" alt="Olivia Hinton's headshot">
  <h1>About Olivia</h1>
  <p>Hi! I'm a junior web developer with experience building web apps in Ruby on Rails, Ember.js and Angular2 (Typescript/JavaScript) frameworks. I've learned to adapt quickly to new languages and communicate effectively through pair programming as a student at Epicodus, an immersive code school. I'm seeking opportunities to join a collaborative team and help create high-quality, user-friendly web experiences.</p>
  <p>When I'm not programming, I enjoy playing board games with friends, relaxing after yoga sessions, keeping up with the news and entertaining my cat Moxie.</p>
  <div id="social-icons">
    <a href="https://www.linkedin.com/in/omhinton" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://github.com/ohinton" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/oliviamariehinton/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
  <a href="mailto:hinton.olivia@gmail.com"><button class="btn btn-default btn-lg">email olivia!</button></a>

</div>
