<div class="container">
  <img class="img-responsive" src="/img/oh-logo-01.png" alt="Olivia Hinton's logo">
</div>

<div class="container-fluid links">
  <div class="row">
    <div class="col-md-3">{{#link-to 'web'}}<p>web</p>{{/link-to}}</div>
    <div class="col-md-3">{{#link-to 'print'}}<p>print</p>{{/link-to}}</div>
    <div class="col-md-3"><a href="https://www.linkedin.com/in/omhinton" target="_blank"><p>resume</p></a></div>
    <div class="col-md-3">{{#link-to 'connect'}}<p>connect</p>{{/link-to}}</div>
  </div>
</div>

{{outlet}}
