<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <a href="http://candlelightportland.herokuapp.com" target="_blank"><img class="card-img-top img-responsive" src="/img/sample_candlelight.png" alt="Candlelight project sample"></a>
        <div class="card-block">
          <h4 class="card-title">Candlelight Restaurant & Bar</h4>
          <p class="card-text">In a team with students from Epicodus, I developed an Ember.js web application for the Candlelight Restaurant & Bar, a Portland-based restaurant. The website was needed to display the restaurant's business information, including menus, event calendar, location and hours. </p>
          <a href="https://github.com/maldonmeehan/candlelight" target="_blank" class="btn btn-default">GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/img/sample_cocktail.png" alt="Cocktail Companion project sample">
        <div class="card-block">
          <h4 class="card-title">Speakeasy Cocktail Companion</h4>
          <p class="card-text">In a team with students from Epicodus, I developed the Speakeasy Cocktail Companion, a Ruby-based web app that generates cocktail recipes based on a drink's signature liquor.</p>
          <a href="https://github.com/ohinton/classic_cocktails" target="_blank" class="btn btn-default">GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <a href="https://ohinton.github.io/epicoder" target="_blank"><img class="card-img-top img-responsive" src="/img/sample_epicoder.png" alt="Epicoder project sample"></a>
        <div class="card-block">
          <h4 class="card-title">Epicoder: Chooser Your Own Adventure</h4>
          <p class="card-text">In a team with students from Epicodus, I developed The Epicoder Game -- a "Choose you Own Adventure" style game made with Epicodus students in mind. Players can make various choices with an end goal of reaching Epicodus on time for morning standup. Players will either reach school on time with points assigned for time, money, and focus, or fail to reach the school.</p>
          <a href="https://github.com/ohinton/epicoder" target="_blank" class="btn btn-default">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
