<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <a href="http://auctionary.herokuapp.com" target="_blank"><img class="card-img-top img-responsive" src="img/sample_auctionary.png" alt="Auctionary project sample"></a>
        <div class="card-block">
          <h4 class="card-title">Auctionary: Making Auctions Easier</h4>
          <p class="card-text">Auctionary is an easy-to-use charity auction management tool to help volunteers track their communications with donors and reach fundraising goals. I was inspired to develop Auctionary based on my experience in the nonprofit field and first-hand knowledge of what it takes to successfully plan a fundraising auction.</p>
          <p>Tech used:</p>
          <ul>
            <li>Ruby on Rails framework</li>
            <li>PostgreSQL database</li>
            <li>Materialize for front-end design</li>
            <li>Google Maps API to pinpoint donor addresses</li>
          </ul>
          <a href="https://github.com/ohinton/auctionary" target="_blank" class="btn btn-github btn-default">GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="img/sample_cocktail.png" alt="Cocktail Companion project sample">
        <div class="card-block">
          <h4 class="card-title">Speakeasy Cocktail Companion</h4>
          <p class="card-text">In a team of students from Epicodus, I developed the Speakeasy Cocktail Companion, a Ruby-based web app that generates cocktail recipes based on a drink's signature liquor. I contributed to writing unit and integration tests, setting up the database and assisting the front-end team with incorporating styles.</p>
          <p>Tech used:</p>
          <ul>
            <li>Ruby and Sinatra framework</li>
            <li>PostgreSQL database</li>
            <li>Materialize for front-end design</li>
          </ul>
          <a href="https://github.com/ohinton/classic_cocktails" target="_blank" class="btn btn-github btn-default">GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <a href="https://ohinton.github.io/epicoder" target="_blank"><img class="card-img-top img-responsive" src="img/sample_epicoder.png" alt="Epicoder project sample"></a>
        <div class="card-block">
          <h4 class="card-title">Epicoder: Chooser Your Own Adventure</h4>
          <p class="card-text">In a team of students from Epicodus, I developed The Epicoder Game -- a "Choose you Own Adventure" style game made with Epicodus students in mind. Players can make various choices with an end goal of reaching Epicodus on time for morning standup. I was part of the back-end team establishing JavaScript functions to calculate scores and the game play structure.</p>
          <p>Tech used:</p>
          <ul>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>Bootstrap and CSS for front-end design</li>
          </ul>
          <a href="https://github.com/ohinton/epicoder" target="_blank" class="btn btn-github btn-default">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
