<div class="container" id="resume">
    <img class="img-responsive" id="resume-logo" src="img/oh-headshot.png" alt="Olivia Hinton's headshot">
  <div id="linkedin">
    <a href="https://www.linkedin.com/in/omhinton" target="_blank"><img src="img/linkedin-logo-lightgrey.png" alt="LinkedIn logo"></a>
  </div>
  <div id="pdf-btn">
    <a href="/img/OHinton_resume.pdf"><button class="btn btn-lg btn-default">download PDF</button></a>
  </div>
</div>
