<div class="container project-tiles">
  <div class="row">
    <div class="col-md-4"><p>Ruby/Rails Final Project</p></div>
    <div class="col-md-4"><p>Another project</p></div>
    <div class="col-md-4"><p>Another project</p></div>
  </div>
</div>
